html, body {
    min-height: 100vh;
}

body {
    position: relative;
    font-family: Ubuntu, "Times New Roman", serif;
    color: #ffffff;
    min-height:100vh;
}

header {
    height: 93px;
}

.mainBackground {
    background: linear-gradient(180deg, #9DD157 0%, #80BB3D 100%);
}

.hidden {
    display: none !important;
}

.logoLink {
    display: block;
    cursor: pointer;
    text-underline: none;
}

.sravniLogo {
    position: absolute;
    left: 28px;
    top: 23px;
}

.sravniIcon {
    display: block;
    width: 129px;
    height: 24px;
    background: url('../images/sravni_logo.png') no-repeat left top;
}

.azbukaLogo {
    position: absolute;
    right: 30px;
    top: 20px;
}

.azbukaIcon {
    display: block;
    width: 134px;
    height: 40px;
    background: url('../images/azbuka_logo.png') no-repeat left top;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 640px;
    text-align: center;
}

.mainTitle {
    order: 1;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    padding-top: 76px;
}

.appleIcon {
    order: 2;
    display: block;
    width: 309px;
    height: 230px;
    background: url('../images/apple.png') no-repeat center center;
    margin: 0 auto;
}

.description {
    order: 3;
    width: 530px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
}

.hint {
    order: 4;
    width: 584px;
    margin: 40px auto 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
}

.questionnaire {
    order: 5;
    margin-top: 50px;
}

.option {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    height: 48px;
    text-align: left;
    padding: 15px 17px;
    margin-bottom: 8px;
    cursor: pointer;
}

.optionChecked {
    color: #000000;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.questionCheckbox {

}

.questionLabel {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    margin-left: 13px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.submit {
    order: 6;
    box-sizing: border-box;
    background: #F0FF79;
    border-radius: 4px;
    height: 48px;
    padding: 15px 17px;
    margin-top: 16px;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    vertical-align: center;
    cursor: pointer;
    margin-bottom: 140px;
}

.arrow_submit {
    display: inline-block;
    width: 32px;
    height: 8px;
    background: url('../images/arrow_submit.png') no-repeat left center;
    margin-bottom: 4px;
}

.loading {
    padding-top: 180px;
}

.loadingIcon {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 96px;
    background: url('../images/loading.svg') no-repeat center center;
}

.result {
    padding-top: 50px;
    color: #000000;
}

.eatingIphone {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.diagram {
    position: relative;
    margin: 15px 0;
    padding-top: 90px;
}

.pieChartIcon {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 93px;
    background: url('../images/apple_part.svg') no-repeat top center;
}

.share {
    margin: 15px 0;
}

.foodBlocksWrapper {
    margin-bottom: 70px;
}

.foodBlocksTitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.foodBlock {
    position: relative;
    border-radius: 16px;
    padding: 24px 26px;
    text-align: left;
    color: #ffffff;
    margin-top: 25px;
}

.foodBlockTitle {
    font-size: 20px;
    line-height: 23px;
}

.foodBlockIcon {
    position: absolute;
    right: 16px;
    top: 16px;
    background-repeat: no-repeat;
}

.foodBlockItem {
    display: block;
    list-style: none;
    margin-top: 20px;
}

.foodBlockFoodName {
    font-size: 14px;
    line-height: 16px;
    opacity: 0.7;
    margin-bottom: 7px;
}

.foodBlackFoodPrice {
    font-size: 14px;
    line-height: 16px;
}

.foodBlockSeparator {
    display: block;
    height: 1px;
    opacity: 0.4;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 8px;
}

.foodBlockResult {
    overflow: hidden;
    margin: 20px 0 13px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.foodBlockResultText {
    float: left;
}

.foodBlockResultValue {
    float: right;
}


/* блоки корзин продуктов */

/* мясо */

.meatBlock {
    background: #D0021B;
}

.meatBlock .foodBlockIcon {
    background-image: url('../images/meat.svg');
    width: 36px;
    height: 36px;
}

/* рыба */

.fishBlock {
    background: #5079E2;
}

.fishBlock .foodBlockIcon {
    background-image: url('../images/fish.svg');
    width: 36px;
    height: 36px;
}

/* овощи и зелень */

.vegetablesAndHerbsBlock {
    background: #03BD5B;
}

.vegetablesAndHerbsBlock .foodBlockIcon {
    background-image: url('../images/veg.svg');
    width: 38px;
    height: 36px;
}

/* фрукты и ягоды */
/* цвет TODO */

.fruitsAndBerriesBlock {
    background: orange;
}

.fruitsAndBerriesBlock .foodBlockIcon {
    display: none;
}

/* яйца */

.eggsBlock {
    background: #F07300;
}

.eggsBlock .foodBlockIcon {
    background-image: url('../images/eggs.svg');
    width: 34px;
    height: 36px;
}

/* молоко */

.milkBlock {
    background: #9B9B9B;
}

.milkBlock .foodBlockIcon {
    background-image: url('../images/milk.svg');
    width: 26px;
    height: 36px;
}

/* хлеб */

.breadBlock {
    background: #A04300;
}

.breadBlock .foodBlockIcon {
    background-image: url('../images/bread.svg');
    width: 38px;
    height: 36px;
}

/* крупы */

.cerealsBlock {
    background: #F5A623;
}

.cerealsBlock .foodBlockIcon {
    background-image: url('../images/cereals.svg');
    width: 36px;
    height: 36px;
}

/* сладкое */

.sweetBlock {
    background: #A1009B;
}

.sweetBlock .foodBlockIcon {
    background-image: url('../images/sweet.svg');
    width: 36px;
    height: 36px;
}

/* масло */

.oilBlock {
    background: orange;
}

.oilBlock .foodBlockIcon {
    background-image: url('../images/oil.svg');
    width: 29px;
    height: 36px;
}

/* консервы */

.cannedFoodBlock {
    background: #5079E2;
}

.cannedFoodBlock .foodBlockIcon {
    display: none;
}

/* замороженное */

.frozenFoodBlock {
    background: #D0021B;
}

.frozenFoodBlock .foodBlockIcon {
    display: none;
}

/* готовая еда */

.readyMealBlock {
    background: #03BD5B;
}

.readyMealBlock .foodBlockIcon {
    display: none;
}

/* деликатессы */
/* цвет TODO */

.delicaciesBlock {
    background: orange;
}

.delicaciesBlock .foodBlockIcon {
    display: none;
}

/* детские товары 0-3 года */
/* цвет TODO */

.babyBlock {
    background: orange;
}

.babyBlock .foodBlockIcon {
    display: none;
}

/* детские товары 3+ года */
/* цвет TODO */

.childBlock {
    background: orange;
}

.childBlock .foodBlockIcon {
    display: none;
}

/* товары для кошек */
/* цвет TODO */

.catsBlock {
    background: orange;
}

.catsBlock .foodBlockIcon {
    display: none;
}

/* товары для собак */
/* цвет TODO */

.dogsBlock {
    background: orange;
}

.dogsBlock .foodBlockIcon {
    display: none;
}

/* замена мясу и рыбе */
/* цвет TODO */

.replaceMeatAndFishBlock {
    background: orange;
}

.replaceMeatAndFishBlock .foodBlockIcon {
    display: none;
}

/* замена мясу и рыбе */
/* цвет TODO */

.replaceMeatAndFishBlock {
    background: orange;
}

.replaceMeatAndFishBlock .foodBlockIcon {
    display: none;
}

/* зелень */
/* цвет TODO */

.herbsBlock {
    background: orange;
}

.herbsBlock .foodBlockIcon {
    display: none;
}

/* орехи и крупы */
/* цвет TODO */

.nutsAndCerealsBlock {
    background: orange;
}

.nutsAndCerealsBlock .foodBlockIcon {
    display: none;
}

/* замена молока */
/* цвет TODO */

.replaceMilkBlock {
    background: orange;
}

.replaceMilkBlock .foodBlockIcon {
    display: none;
}

/* ЗОЖ */
/* цвет TODO */

.healthBlock {
    background: orange;
}

.healthBlock .foodBlockIcon {
    display: none;
}

