@media only screen and (max-device-width : 640px) {
    .sravniLogo {
        position: absolute;
        left: 17px;
        top: 34px;
    }

    .azbukaLogo {
        position: absolute;
        right: 30px;
        top: 24px;
    }

    .content {
        box-sizing: border-box;
        width: 100%;
        padding: 0 21px;
    }

    .mainTitle {
        box-sizing: border-box;
        order: 2;
        font-weight: 700;
        font-size: 36px;
        line-height: 41px;
        padding: 22px 0;
        color: #000000;
        background-color: #ffffff;
        border-radius: 4px;
        text-transform: uppercase;
        width: 100%;
    }

    .appleIcon {
        order: 1;
        display: block;
        width: 361px;
        height: 268px;
        background: url('../images/apple_mobile.png') no-repeat center bottom;
        margin: 0 auto;
        padding-top: 62px;
    }

    .description {
        width: 100%;
        margin-top: 26px;
    }

    .hint {
        width: 100%;
        margin-top: 23px;
    }

    .questionnaire {
        order: 5;
        margin-top: 40px;
    }

    .option {
        display: flex;
        align-items: baseline;
        min-height: 48px;
        height: auto;
    }

    .submit {
        margin-bottom: 40px;
    }

}
